<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>File Upload</title>
  </head>
  <body>
    <div class="container">
      <h1>Upload a File</h1>
      <form method="post" enctype="multipart/form-data" action="/upload">
        <div>
          <input type="file" name="file">
        </div>
        <div>
          <button type="submit">Upload</button>
        </div>
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
  </body>
</html>
